---
title: menu.architecture
layout: layouts/base.njk
icon: dashboard_2
language: es
---

<a href="/assets/img/architecture.png" title="view image">
  <img src="/assets/img/architecture.png" alt="BIMROCKET architecture" style="max-width: 100%">
</a>

