---
title: menu.downloads
layout: layouts/base.njk
icon: download
language: es
---

<p>Versión actual: <strong>{{ product.version }}-{{ product.revision }}</strong></p>
<p><a href="https://github.com/bimrocket/bimrocket/releases/tag/{{ product.version }}">Notas de la versión</a></p>

<section class="download">
  <span class="material-symbols-outlined">folder_zip</span>
  <div>
    <h3>
      Paquete zip de {{ product.name }} <b>quarkus</b> para todas las plataformas (unix y windows).
    </h3>
    <p>Contiene la aplicación de frontend y los servicios de backend desplegados sobre un entorno de ejecución Quarkus.</p>
    <p>Tamaño: 68 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-quarkus-{{ product.mavenVersion }}.zip" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">folder_zip</span>
  <div>
    <h3>
      Paquete zip de {{ product.name }} <b>console</b> para todas las plataformas (unix y windows).
    </h3>
    <p>Contiene la aplicación bimrocket-console para la manipulación avanzada de ficheros IFC.</p>
    <p>Tamaño: 30 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-console-{{ product.mavenVersion }}.zip" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">deployed_code</span>
  <div>
    <h3>
      Aplicación de <b>frontend</b> de {{ product.name }} en formato war
    </h3>
    <p>Requiere un contenedor de servlets Jakarta 10 (como Apache tomcat 10.1).</p>
    <p>Tamaño: 5 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket.war" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">deployed_code</span>
  <div>
    <h3>
      Aplicación de <b>backend</b> de {{ product.name }} en formato war
    </h3>
    <p>Requiere un contenedor de servlets Jakarta 10 (como Apache tomcat 10.1).</p>
    <p>Tamaño: 57 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-server.war" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<a href="https://github.com/bimrocket/bimrocket/releases">
  <h3>
    Otras versiones
  </h3>
</a>
