---
title: menu.home
layout: layouts/base.njk
icon: home
language: es
---
<div style="margin-left: auto;margin-right: auto;text-align: center">

  <section class="version">
    <p>{{ t("lemma") }}</p>
    <p class="featured">Versión actual</p>
    <p class="featured">{{ product.name }} {{ product.version }}</p>
    <p><a href="https://github.com/bimrocket/bimrocket/releases/tag/{{ product.version }}">Notas de la versión</a></p>

    <a href="{{ product.testUrl }}" class="link-button m-1">
      <span class="material-symbols-outlined pr-1">rocket_launch</span> {{ t("button.try") }}
    </a>

    <a href="/{{ language }}/download" class="link-button m-1">
      <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
    </a>
  </section>

  <section class="screenshots">

  {% macro screenshot(id, title) %}
  <a href="/assets/img/screenshots/screenshot-{{ id }}.png">
    <figure>
      <img src="/assets/img/screenshots/screenshot-{{ id }}.png" alt="{{ title }}">
      <figcaption>{{ title }}</figcaption>
    </figure>
  </a>
  {% endmacro %}

  {{ screenshot(1, "Consulta de las propiedades de un objeto") }}

  {{ screenshot(2, "Herramienta de simulación de sombras") }}

  {{ screenshot(3, "Gestión de incidencias a través del servicio BCF") }}

  {{ screenshot(4, "Navegación por el interior de un edificio con visualización de datos sensoriales") }}

  {{ screenshot(5, "Modelo digital de ciudad generado a partir de información procedente de un servidor GIS") }}   
   
  </section>

</div>