---
title: Architecture
layout: base.njk
icon: dashboard_2
---

<a href="/img/architecture.png" title="view image">
  <img src="/img/architecture.png" alt="architecuture" style="max-width: 100%">
</a>
