---
title: menu.download
layout: layouts/base.njk
icon: download
language: ca
---

<p>Versió actual: <strong>{{ product.version }}-{{ product.revision }}</strong></p>
<p><a href="https://github.com/bimrocket/bimrocket/releases/tag/{{ product.version }}">Notes de la versió</a></p>

<section class="download">
  <span class="material-symbols-outlined">deployed_code</span>
  <div>
    <h3>
      Paquet zip de {{ product.name }} per a Windows x64.
    </h3>
    <p>Conté l'aplicació de frontend i els serveis de backend. Inclou openjdk-17 per a Windows x64.</p>
    <p>Mida: 106 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-tomcat-1.0-windows-x64.zip" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">deployed_code</span>
  <div>
    <h3>
      Paquet zip genèric de {{ product.name }} per a totes les plataformes (Linux, MacOS, Windows).
    </h3>
    <p>Conté l'aplicació de frontend i els serveis de backend. Requereix la instal·lació d'una màquina virtual de Java versió 17 o superior.</p>
    <p>Mida: 65 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-tomcat-1.0-generic.zip" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">deployed_code</span>
  <div>
    <h3>
      Aplicació de frontend de {{ product.name }} en format war
    </h3>
    <p>Requereix un contenidor de servlets Jakarta 10 (com Apache tomcat 10.1).</p>
    <p>Mida: 5 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket.war" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<section class="download">
  <span class="material-symbols-outlined pr-1">deployed_code</span>
  <div>
    <h3>
      Aplicació de backend de {{ product.name }} en format war
    </h3>
    <p>Requereix un contenidor de servlets Jakarta 10 (com Apache tomcat 10.1).</p>
    <p>Mida: 53 Mb</p>
    <div>
      <a href="https://github.com/bimrocket/bimrocket/releases/download/{{ product.version }}/bimrocket-server.war" class="link-button">
        <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
      </a>
    </div>
  </div>
</section>

<a href="https://github.com/bimrocket/bimrocket/releases">
  <h3>
    Altres versions
  </h3>
</a>
