---
title: menu.home
layout: layouts/base.njk
icon: home
language: ca
---
<div style="margin-left: auto;margin-right: auto;text-align: center">

  <section class="version">
    <p>{{ t("lemma") }}</p>
    <p class="featured">Versió actual</p>
    <p class="featured">{{ product.name }} {{ product.version }}</p>
    <p><a href="https://github.com/bimrocket/bimrocket/releases/tag/{{ product.version }}">Notes de la versió</a></p>

    <a href="{{ product.testUrl }}" class="link-button m-1">
      <span class="material-symbols-outlined pr-1">rocket_launch</span> {{ t("button.try") }}
    </a>

    <a href="/{{ language }}/download" class="link-button m-1">
      <span class="material-symbols-outlined pr-1">download</span> {{ t("button.download") }}
    </a>
  </section>

  <section class="screenshots">

  {% macro screenshot(id, title) %}
  <a href="/assets/img/screenshots/screenshot-{{ id }}.png">
    <figure>
      <img src="/assets/img/screenshots/screenshot-{{ id }}.png" alt="{{ title }}">
      <figcaption>{{ title }}</figcaption>
    </figure>
  </a>
  {% endmacro %}

   {{ screenshot(1, "Consulta de les propietats d'un objecte") }}

   {{ screenshot(2, "Eina de simulació d'ombres") }}

   {{ screenshot(3, "Gestió d'incidències a través del servei BCF") }}

   {{ screenshot(4, "Navegació per l'interior d'un edifici amb visualització de dades sensorials") }}

   {{ screenshot(5, "Model digital de ciutat generat a partir d'informació provinent d'un servidor GIS") }}
   
  </section>

</div>